body {
	font-weight: lighter;
	font-family: Helvetica, Arial, sans-serif;
}

#content-pane {
	background-color: #FAFAFA;
	padding: 16px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* Style the counter cards */
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
	padding: 2ch;
	margin: 1ch;
	text-align: center;
	background-color: white;
	transition: background-color 0.4s;
	flex: 1 0 10ch; /* Shorthand for flex-grow, flex-shrink, flex-basis */

}

.active {
	background-color: lemonchiffon;
}

.actions {
	height: 32px;
}

.actions a {
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: darkblue;
}

footer { 
	text-align: center; 
	padding: 16px 0;
}

button {
	background-color: midnightblue;
	padding: 16px 64px;
	color: white;
	font-style: italic;
	font-size: 110%;
	border-width: 1px;
	border-radius: 5px;
	cursor: pointer;
}

#builddate {
	font-size: 80%;
	color:  darkgray;
	font-style: italic;
}