body {
	font-weight: lighter;
	font-family: Helvetica, Arial, sans-serif;
}

#content-pane {
	background-color: #FAFAFA;
	padding: 16px;
	display: grid;
	/* Make the grid have as many columns as it can
	   where a column is at least 20 times the width 
	   of the character "0" and at most 1fr. This last
	   part makes the columns fill the viewport width
	   when it has extra space, but not large enough to
	   accomodate an extra column.
	 */
	grid-template-columns: repeat(auto-fill, minmax(20ch,1fr));
}

/* Style the counter cards */
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
	padding: 2ch;
	margin: 1ch;
	text-align: center;
	background-color: white;
	transition: background-color 0.4s;
}

.active {
	background-color: lemonchiffon;
}

.actions {
	height: 32px;
}

.actions a {
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: darkblue;
}

footer { 
	text-align: center; 
	padding: 16px 0;
}

button {
	background-color: midnightblue;
	padding: 16px 64px;
	color: white;
	font-style: italic;
	font-size: 110%;
	border-width: 1px;
	border-radius: 5px;
	cursor: pointer;
}

#builddate {
	font-size: 80%;
	color:  darkgray;
	font-style: italic;
}